/*
  Componente: Modal (CSS).
  Funcionalidade: Componente criado em Angular Material que mostrar uma janela pop-up que contém as informações do repositório do usuário passado por parâmetro do input (Component Main).
  Desenvolvedor: walisson.martins
*/

/* Css referente ao todo o container modal que aparece na tela */

.container-modal {
    display: flex;
    justify-content: space-between;
}

/* Css referente ao h1 que está dentro do modal (1 apenas) */

.container-modal h1 {
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
}

/* Css referente ao h2 dentro do modal */

h2 {
    text-align: center;
    font-size: 12px;
}

/* Css referente ao link <a> dentro do modal */

a {
    color: rgb(178, 184, 235);
    font-style: normal;
    text-decoration: none;
    text-decoration: none;
}

/* Css referente ao link <a> quando passar o mouse em cima, dentro do modal */

a:hover {
    color: #ccc;
}